<!DOCTYPE html>
<html lang="pl">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Karta rejstracyjna</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/protokol.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/protokolPrint.css" media="print">
</head>
<body>
<% include proMenu.ejs %>
<div id="mrdWrapper">
        <div id="protoWrapper">
            <div id="mrdR1">
                <span class="mrdText1">KARTA REJESTRACYJNA</span>
            </div>
            <div id="mrdR2" class="left mrdText1">
                1.Sprawca
            </div>
            <div id="mrdR3" class="mrdText3">
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
                <div class="tabe fleft nazwisko" contenteditable="true"></div>
            </div><br>
            <div id="mrdR4" class="left mrdText3 clear">
                nazwisko
            </div>
            <div id="mrdR5" class="mrdText3">
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
                <div class="tabe fleft imiona" contenteditable="true"></div>
            </div>
            <div id="mrdR6" class="left mrdText3 clear">
                imiona
            </div>
            <div id="mrdR7C1" class="left mrdText3">
                <div class="tabe fleft im_ojca" contenteditable="true"></div>
                <div class="tabe fleft im_ojca" contenteditable="true"></div>
                <div class="tabe fleft im_ojca" contenteditable="true"></div>
                <div class="tabe fleft im_ojca" contenteditable="true"></div>
                <div class="tabe fleft im_ojca" contenteditable="true"></div>
                <div class="tabe fleft im_ojca" contenteditable="true"></div>
                <div class="tabe fleft im_ojca" contenteditable="true"></div>
                <div class="tabe fleft im_ojca" contenteditable="true"></div>
                <div class="tabe fleft im_ojca" contenteditable="true"></div>
                <div class="tabe fleft im_ojca" contenteditable="true"></div>
                <div class="tabe fleft im_ojca" contenteditable="true"></div>
                <div class="tabe fleft im_ojca" contenteditable="true"></div>
                <div class="left clear">
                    <span>imię ojca</span>
                </div>
                <div class="tabe fleft pesel_ur" contenteditable="true"></div>
                <div class="tabe fleft pesel_ur" contenteditable="true"></div>
                <div class="tabe fleft pesel_ur" contenteditable="true"></div>
                <div class="tabe fleft pesel_ur" contenteditable="true"></div>
                <div class="tabe fleft pesel_ur" contenteditable="true"></div>
                <div class="tabe fleft pesel_ur" contenteditable="true"></div>
                <div class="tabe fleft pesel_ur" contenteditable="true"></div>
                <div class="tabe fleft pesel_ur" contenteditable="true"></div>
                <div class="tabe fleft pesel_ur" contenteditable="true"></div>
                <div class="tabe fleft pesel_ur" contenteditable="true"></div>
                <div class="tabe fleft pesel_ur" contenteditable="true"></div>
                <div class="left clear">
                    <span class="mrdText5">numer ewidencyjny pesel_ur, w przypadku<br>obcokrajowca data urodzenia
                        (RRRR-MM-DD)</span>
                </div>
            </div>
            <div id="mrdR7C2" class="left mrdText3">
                <div class="tabe fleft im_matki" contenteditable="true"></div>
                <div class="tabe fleft im_matki" contenteditable="true"></div>
                <div class="tabe fleft im_matki" contenteditable="true"></div>
                <div class="tabe fleft im_matki" contenteditable="true"></div>
                <div class="tabe fleft im_matki" contenteditable="true"></div>
                <div class="tabe fleft im_matki" contenteditable="true"></div>
                <div class="tabe fleft im_matki" contenteditable="true"></div>
                <div class="tabe fleft im_matki" contenteditable="true"></div>
                <div class="tabe fleft im_matki" contenteditable="true"></div>
                <div class="tabe fleft im_matki" contenteditable="true"></div>
                <div class="tabe fleft im_matki" contenteditable="true"></div>
                <div class="tabe fleft im_matki" contenteditable="true"></div>
                <div id="mrdR7C2a" class="left">
                    <span>imię matki</span>
                </div>
                <div class="tabe fleft nazw_matki" contenteditable="true"></div>
                <div class="tabe fleft nazw_matki" contenteditable="true"></div>
                <div class="tabe fleft nazw_matki" contenteditable="true"></div>
                <div class="tabe fleft nazw_matki" contenteditable="true"></div>
                <div class="tabe fleft nazw_matki" contenteditable="true"></div>
                <div class="tabe fleft nazw_matki" contenteditable="true"></div>
                <div class="tabe fleft nazw_matki" contenteditable="true"></div>
                <div class="tabe fleft nazw_matki" contenteditable="true"></div>
                <div class="tabe fleft nazw_matki" contenteditable="true"></div>
                <div class="tabe fleft nazw_matki" contenteditable="true"></div>
                <div class="tabe fleft nazw_matki" contenteditable="true"></div>
                <div class="tabe fleft nazw_matki" contenteditable="true"></div>
                <div id="mrdR7C2b" class="left">
                    <span>nazwisko rodowe matki</span>
                </div>
            </div>
            <div id="mrdR8" class="left clear mrdText2">
                <div id="mrdR8t" class="pole inline" contenteditable="true">
                    .......................................................................
                </div>
                pleć -
                <div id="plec_input" class="tabe inline" contenteditable="true"></div>
                mężczyzna - 1, kobieta - 2
            </div>
        </div id="mrdR9" class="mrdText4">obywatelstwo (w przypadku obcokrajowca)
        <div id="mrdR10" class="left">
            <span class="mrdText4">2. Adres zamieszkania </span>
        </div>
        <div id="mrdR11C1" class="inline">
            <div id="zam_kraj" class="pole mrd11t" contenteditable="true">
                ................................................................
            </div>
            kraj
            <div id="zam_gmina" class="pole mrd11t" contenteditable="true">
                ................................................................
            </div>
            gmina
            <div id="zam_ulica" class="pole mrd11t" contenteditable="true">
                ................................................................
            </div>
            ulica
        </div>
        <div id="mrdR11C2" class="inline">
            <div id="zam_powiat" class="pole mrd11t" contenteditable="true">
                ................................................................
            </div>
            powiat
            <div id="zam_miejscowosc" class="pole mrd11t" contenteditable="true">
                ................................................................
            </div>
            miejscowość
            <div id="zam_nr" class="pole mrd11t" contenteditable="true">
                ................................................................
            </div>
            nr domu / nr mieszkania
        </div>
        <div id="mrdR12" class="left">
            <span class="mrdText4">3. Dokument osoby</span>
        </div>
        <div id="mrdR13" class="left">
            <div id="mrdR13l" class="fleft"> dowód osobisty – 1, paszport – 2, karta pobytu:<br>na osiedlenie – 3, na
                zamieszkanie – 4
            </div>
            <div class="mrdText4">
                <div class="tabe fleft" contenteditable="true" id="nrDow0"></div>
                <div class="tabe fleft nr_dokumentu_tu" contenteditable="true"></div>
                <div class="tabe fleft nr_dokumentu_tu" contenteditable="true"></div>
                <div class="tabe fleft nr_dokumentu_tu" contenteditable="true"></div>
                <div class="tabe fleft nr_dokumentu_tu" contenteditable="true"></div>
                <div class="tabe fleft nr_dokumentu_tu" contenteditable="true"></div>
                <div class="tabe fleft nr_dokumentu_tu" contenteditable="true"></div>
                <div class="tabe fleft nr_dokumentu_tu" contenteditable="true"></div>
                <div class="tabe fleft nr_dokumentu_tu" contenteditable="true"></div>
                <div class="tabe fleft nr_dokumentu_tu" contenteditable="true"></div>
            </div>
        </div>
        <div id="mrdR14" class="left clear">
            <span class="mrdText4">4. Dokument uprawniający do kierowania pojazdem</span>
        </div>
        <div id="mrdR15" class="left">
            <div id="mrdR15l" class="fleft mrdText4"> oryginał – 1, wtórnik – 2</div>
            <div id="mrdR15r" class="fleft mrdText4">
                <div class="tabe fleft" id="typ_pj" contenteditable="true"></div>
                <div class="fleft">&nbsp nr blankietu &nbsp</div>
                <div class="tabe fleft nr_blankietu_pj" contenteditable="true"></div>
                <div class="tabe fleft nr_blankietu_pj spce25" contenteditable="true"></div>
                <div class="tabe fleft nr_blankietu_pj" contenteditable="true"></div>
                <div class="tabe fleft nr_blankietu_pj" contenteditable="true"></div>
                <div class="tabe fleft nr_blankietu_pj" contenteditable="true"></div>
                <div class="tabe fleft nr_blankietu_pj" contenteditable="true"></div>
                <div class="tabe fleft nr_blankietu_pj" contenteditable="true"></div>
                <div class="tabe fleft nr_blankietu_pj" contenteditable="true"></div>
                <div class="tabe fleft nr_blankietu_pj" contenteditable="true"></div>
            </div>
        </div>
        <div id="mrdR16" class="clear">
            <div class="inline center">
                nr prawa jazdy/pozwolenia<br>
                <div class="mrdText4 pj_szer">
                    <div class="tabe fleft nr_pj" contenteditable="true"></div>
                    <div class="tabe fleft nr_pj" contenteditable="true"></div>
                    <div class="tabe fleft nr_pj" contenteditable="true"></div>
                    <div class="tabe fleft nr_pj" contenteditable="true"></div>
                    <div class="tabe fleft nr_pj" contenteditable="true"></div>
                    <div class="tabe fleft nr_pj" contenteditable="true"></div>
                    <div class="tabe fleft nr_pj" contenteditable="true"></div>
                    <div class="tabe fleft nr_pj" contenteditable="true"></div>
                    <div class="tabe fleft nr_pj" contenteditable="true"></div>
                    <div class="tabe fleft nr_pj" contenteditable="true"></div>
                    <div class="tabe fleft nr_pj" contenteditable="true"></div>
                    <div class="tabe fleft nr_pj" contenteditable="true"></div>
                    <div class="tabe fleft nr_pj" contenteditable="true"></div>
                    <div class="tabe fleft nr_pj" contenteditable="true"></div>
                    <div class="tabe fleft nr_pj" contenteditable="true"></div>
                </div>
            </div>
            <div class="inline center">
                data wydania<br>
                <div class="mrdText4 pj_szer">
                    <div class="tabe fleft data_wydania" contenteditable="true"></div>
                    <div class="tabe fleft data_wydania" contenteditable="true"></div>
                    <div class="tabe fleft data_wydania" contenteditable="true"></div>
                    <div class="tabe fleft data_wydania" contenteditable="true"></div>
                    <div class="tabe fleft data_wydania" contenteditable="true"></div>
                    <div class="tabe fleft data_wydania" contenteditable="true"></div>
                </div>
            </div>
            <div class="inline center">
                kategoria<sup>*</sup><br>
                <div class="mrdText4">
                    <div id="pj_katA" class="tabe fleft cross">A</div>
                    <div id="pj_katB" class="tabe fleft cross">B</div>
                    <div id="pj_katC" class="tabe fleft cross">C</div>
                    <div id="pj_katD" class="tabe fleft cross" style="width:27px;">D</div>
                    <div id="pj_katT" class="tabe fleft cross">T</div><br>
                    <div id="pj_katA1" class="tabe fleft cross">A1</div>
                    <div id="pj_katB1" class="tabe fleft cross">B1</div>
                    <div id="pj_katC1" class="tabe fleft cross">C1</div>
                    <div id="pj_katD1" class="tabe fleft cross" style="width:27px;">D1</div>
                    <div id="pj_katE" class="tabe fleft" contenteditable="true"></div>
                </div>
            </div>
        </div><br>
        <div id="mrdR17" class="clear">
            <div id="mrdR17a" class="inline center">data pierwszych uprawnień</div>
            <div class="inline mrdText4">
                <div class="tabe fleft data_wydania_p" contenteditable="true"></div>
                <div class="tabe fleft data_wydania_p" contenteditable="true"></div>
                <div class="tabe fleft data_wydania_p" contenteditable="true"></div>
                <div class="tabe fleft data_wydania_p" contenteditable="true"></div>
                <div class="tabe fleft data_wydania_p" contenteditable="true"></div>
                <div class="tabe fleft data_wydania_p" contenteditable="true"></div>
            </div>
        </div>
        <br>
        <div id="mrdR19" class="clear center">
            <div id="pj_organ" contenteditable="true" class="pole mrdText3">
                ................................................................................................................
            </div>
            <div>wystawca (nazwa organu lub kod terytorialny)</div>
        </div>
        <div id="mrdR19">
            <span class="mrdText4">5. Zdarzenie data</span>
        </div>
        <div id="mrdR20">
            data
        </div>
        <div id="mrdR21" class="mrdText4">
            <div class="tabe fleft zd_data" contenteditable="true"></div>
            <div class="tabe fleft zd_data" contenteditable="true"></div>
            <div class="tabe fleft zd_data" contenteditable="true"></div>
            <div class="tabe fleft zd_data" contenteditable="true"></div>
            <div class="tabe fleft zd_data" contenteditable="true"></div>
            <div class="tabe fleft zd_data" contenteditable="true"></div>
            <div class="tabe fleft zd_czas" contenteditable="true"></div>
            <div class="tabe fleft zd_czas" contenteditable="true"></div>
            <div class="tabe fleft zd_czas" contenteditable="true"></div>
            <div class="tabe fleft zd_czas" contenteditable="true"></div>
        </div>
        <div id="mrdR22" class="clear">
            &nbsp&nbsp&nbsp&nbsp rok &nbsp&nbsp&nbsp&nbsp&nbsp m-c &nbsp&nbsp&nbsp&nbsp dzień &nbsp&nbsp&nbsp godz.
            &nbsp&nbsp&nbsp min
        </div>
        <div id="mrdR23">
            <div class="inline spce30">
                <div id="zd_powiat" contenteditable="true" class="pole mrdText3 center">.......................</div>
                <span class="center dblock">powiat</span>
            </div>
            <div class="inline spce30">
                <div id="zd_gmina" contenteditable="true" class="pole mrdText3 center">.......................</div>
                <span class="center dblock">gmina</span>
            </div>
            <div class="inline spce30">
                <div id="zd_miejscowosc" contenteditable="true" class="pole mrdText3 center">.......................</div>
                <span class="center dblock">miejscowość</span>
            </div>
            <div class="inline">
                <div id="zd_ul_droga" contenteditable="true" class="pole mrdText3 center">.......................</div>
                <span class="center dblock">ulica, nr drogi</span>
            </div>
        </div>
        <div id="mrdR24" class="clear printBrakeBefor">
            <span class="mrdText3">6. Opis czynu</span><span class="mrdText4 fright">kod czynu</span>
        </div>
        <div id="mrdR25" class="clear inline mrdText3"><br>
            1) <span contenteditable="true" class="pole mtop mrdWykroczenie">
                ...........................................................................................................
            </span><br><br>
            2) <span contenteditable="true" class="pole mtop mrdWykroczenie">
                ...........................................................................................................
            </span><br><br>
            3) <span contenteditable="true" class="pole mtop mrdWykroczenie">
                ...........................................................................................................
            </span><br><br>
        </div>
        <div id="mrdR26">
            <span class="mrdText3">7. Środki i czynności</span>
        </div>
        <div id="mrdR27">
            <span class="mrdText4">- MK na sumę złotych: </span>
            <span contenteditable="true" class="pole mrdText2" id="mrdKwota"> ..................................................... </span>
            <div class="inline fright mrdText3">gotówkowy <span class="mrd_pkt">1</span></div>
        </div>
        <div id="mrdR28">
            <span class="mrdText4 marl1"> seria i nr: </span>
            <span contenteditable="true" class="pole mrdText2" id="mrdNrSeria"> ................................................... </span>
            <div class="inline fright mrdText3">kredytowany <span class="mrd_pkt">2</span></div>
        </div>
        <div id="mrdR29">
            <span contenteditable="true" class="pole mrdText2 marl2"> .......................................................... </span>
            <div class="inline fright mrdText3">zaoczny <span class="mrd_pkt">3</span></div>
        </div>
        <div id="mrdR30">
            <span class="mrdText4">- Sporządzenie wniosku o ukaranie do sądu </span>
            <span contenteditable="true" class="pole mrdText2"> .............................................. </span>
            <div class="inline fright mrdText3"><span class="mrd_pkt">4</span></div>
        </div>
        <div id="mrdR31">
            <span class="mrdText4">- postępowanie przygotowawcze – data wszczęcia </span>
            <span contenteditable="true" class="pole mrdText2"> ..................................... </span>
            <div class="inline fright mrdText3"><span class="mrd_pkt">5</span></div>
        </div>
        <div id="mrdR32">
            <span class="mrdText4">- zatrzymanie: dokumentu uprawnionego do prowadzenia pojazdu </span>
            <span contenteditable="true" class="pole mrdText2"> ................</span>
            <div class="inline fright mrdText3"><span class="mrd_pkt">6</span></div>
        </div>
        <div id="mrdR33">
            <span class="mrdText4 marl1">dowodu rejestracyjnego </span>
            <span contenteditable="true" class="pole mrdText2"> .....................................................</span>
            <div class="inline fright mrdText3"><span class="mrd_pkt">7</span></div>
        </div>
        <div id="mrdR34">
            <span class="mrdText4 marl1">sprawcy w areszcie lub izbie wytrzeźwień </span>
            <span contenteditable="true" class="pole mrdText2"> ............................. </span>
            <div class="inline fright mrdText3"><span class="mrd_pkt">8</span></div>
        </div>
        <div id="mrdR35">
            <span class="mrdText4">- sprawę przekazano do : </span>
            <span contenteditable="true" class="pole mrdText2"> ..................................................................... </span>
            <div class="inline fright mrdText3"><span class="mrd_pkt">9</span></div>
        </div>
        <div id="mrdR35">
            <span class="mrdText4">- sprawę przekazano jednostce Policji (podać nazwę) : </span>
            <span contenteditable="true" class="pole mrdText2"> ............................... </span>
            <div class="inline fright mrdText3"><span class="mrd_pkt">10</span></div>
        </div>
        <div id="mrdR36">
            <span class="mrdText4">Organ rozstrzygający </span>
            <div contenteditable="true" class="pole mrdText2">
                ......................................................................................................... </div>
        </div>
        <div id="mrdR37" class="mtop">
            <div class="fright">
                <div class="tabe fleft" contenteditable="true"></div>
                <div class="tabe fleft" contenteditable="true"></div>
                <div class="tabe fleft" contenteditable="true"></div>
                <div class="tabe fleft" contenteditable="true"></div>
                <div class="tabe fleft" contenteditable="true"></div>
                <div class="tabe fleft" contenteditable="true"></div>
            </div>
            <div>
                <span class="mrdText4">Nazwa i kod jednostki Policji, której przekazano sprawę </span><br>
                <div id="mrdJednostka" contenteditable="true" class="pole mrdText2">
                    ............................................................................... </div>
            </div>
        </div>
        <div id="mrdR38" class="mtop clear">
            <div class="fright">
                <div class="tabe fleft fk_nr_leg" contenteditable="true"></div>
                <div class="tabe fleft fk_nr_leg" contenteditable="true"></div>
                <div class="tabe fleft fk_nr_leg" contenteditable="true"></div>
                <div class="tabe fleft fk_nr_leg" contenteditable="true"></div>
                <div class="tabe fleft fk_nr_leg" contenteditable="true"></div>
                <div class="tabe fleft fk_nr_leg" contenteditable="true"></div><br>
                &nbsp&nbsp&nbsp&nbsp&nbsp numer legitymacji
            </div>
            <div style="text-align:center;">
                <span class="mrdText4 fleft">Osoba sporządzająca:</span>
                <div class="inline"><div contenteditable="true" class="pole mrdText2 space5" id="mrdFkStopien">
                        ................</div>
                    <div class="dblock center">stopień</div>
                </div>
                <div class="inline"><div contenteditable="true" class="pole mrdText2 space52" id="mrdFkImie">
                        ................</div> 
                    <div class="dblock center">imie</div>
                </div>
                <div class="inline"><div contenteditable="true" class="pole mrdText2 space52" id="mrdFkNazwisko">
                        ................ </div>
                    <div class="dblock center">nazwisko</div>
                </div>
            </div>
        </div>
        <div id="mrdR39" class="clear mrdText3">
            8. Pojazd
        </div>
        <div id="mrdR40" class="mtop">
            <div class="inline spce30">
                <div id="pojRodzaj" contenteditable="true" class="pole mrdText2 center"> .............................. </div>
                <div class="center dblock">rodzaj</div>
            </div>
            <div class="inline spce30">
                <div id="pojMarka" contenteditable="true" class="pole mrdText2 center"> .............................. </div>
                <div class="center dblock">marka</div>
            </div>
            <div class="inline spce30">
                <div id="pojKrajRej"contenteditable="true" class="pole mrdText2 center"> .............................. </div>
                <div class="center dblock">kraj rejestracji pojazdu</div>
            </div>
        </div>
        <div id="mrdR38" class="mtop clear">
            <div class="fright">
                <div class="tabe fleft mrdNrRej" contenteditable="true"></div>
                <div class="tabe fleft mrdNrRej" contenteditable="true"></div>
                <div class="tabe fleft mrdNrRej" contenteditable="true"></div>
                <div class="tabe fleft mrdNrRej" contenteditable="true"></div>
                <div class="tabe fleft mrdNrRej" contenteditable="true"></div>
                <div class="tabe fleft mrdNrRej" contenteditable="true"></div>
                <div class="tabe fleft mrdNrRej" contenteditable="true"></div>
                <div class="tabe fleft mrdNrRej" contenteditable="true"></div>
                <div class="tabe fleft mrdNrRej" contenteditable="true"></div>
                <div class="tabe fleft mrdNrRej" contenteditable="true"></div><br>
                <div class="center dblock">&nbsp numer rejestracyjny</div>
            </div>
        </div>
    </div>
</body>
<script src="../javascripts/edit/mrd.js"></script>
</html>