<div>
    <p>Jeżeli dokumenty drukują się nie poprawnie upewnij się, że w ustawieniach drukarki skala ustawiona jest na 100%.</p>
    <p>W przypadku gdy chcesz zapisać dokument do przesłania lub wydrukowanie później skorzystaj z opcji drukuj, następnie wybierz opcję ‘zapisz jako PDF’ lub ‘wydrukuj do PDF / print to PDF’.</p>
    <p>Jeżeli pracujesz w przeglądarce Chrome możesz też kliknąć prawym klawiszem myszy na dokumencie, następnie wybrać opcję zapisz jako – zapisz kompletną stronę. W ten sposób zapiszesz całą stronę z możliwością późniejszego edytowania dokumentu.</p>
</div>